{% if site.navigation %}
  <ul class="sf-menu" id="navigation">
       {% for link in site.navigation %}
         {% if link.dropdown %}
           <li {% for submenu in link.dropdown %}{% if submenu.href == page.url %}class="current"{% endif %}{% endfor %}  class="dropdown">
             <a href="#">{{ link.title }}</a>
             <ul>
               {% for submenu in link.dropdown %}
                 <li><a href="{{ submenu.href }}">{{ submenu.title }}</a></li>
               {% endfor %}
             </ul>
           </li>
         {% else %}
           <li {% if link.href == page.url %}class="current"{% endif %}><a href="{{ link.href }}">{{ link.title }}</a></li>
         {% endif %}
       {% endfor %}
    </ul>
{% endif %}
