<!-- Top Bar-->
<div class="top">
    <div class="row">
        <div class="col-sm-3">
            <div class="logo">
                <a href="/"><img src="{% asset_path logo %}" srcset="{% asset_path logo@2x %} 2x, {% asset_path logo@3x %} 3x, {% asset_path logo@4x %} 4x" alt="" />
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <nav id="desktop-menu">
                {% include header_nav.html %}
            </nav>
        </div>
    </div>
</div>

{% include header_crumbs.html %}
