<article>
  {% if post.image %}
    {{ post.image | img }}
  {% endif %}
  <div class="post-content">
    <h2>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <time class="thedate" datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%-d %B %Y" }}</time>
    <hr>
    {{ post.excerpt | markdownify }}
    <a class="button" href="{{ site.baseurl }}{{ post.url }}">Continue reading →</a>
  </div>
</article>
