/* Syntax Highlighting */
.highlight {
  margin: 0 0 17px 0;
}

.highlight pre {
  border: none;
  padding: 15px;
}

.highlight  code {
  border: none;
  margin: 0;
}


/* Pricing Table Customisation */
.pricingtables {
  padding: 45px 0 40px;
}

.pricingtables ul li {
  padding: 20px 15px;
}

.pricingtables .most-popular ul li {
  padding: 23px 15px;
}

.domainpricingtable {
  padding-left: 30px !important;
}

@media only screen and (max-width: 1025px) {
  .domainpricingtable {
    padding-left: 0px !important;
  }
}

/* Partners */
.partners {background: #efefef; padding:45px 0}

#partners-list {
  display: table; margin: 0 auto;
}

#partners-list .item {
  opacity: .6;
  transition: all 0.4s ease;
  display: table-cell;
  margin: 20px;
}

#partners-list .item:hover {
  opacity: 1;
}

/* NoJS */
.no-js .no-js_hide {
  display: none;
}

.js .no-js_show {
  display: none;
}

/* NoJS Manual Fixes */
.no-js #shared-hosting-tabs #feature2, #shared-hosting-tabs #feature3, #shared-hosting-tabs #feature4, #shared-hosting-tabs #feature5 {
  margin-top: 80px;
}

.no-js #shared-hosting-tabs .centralicon {
  display: none;
}

/* Error Pages */
.errorpage {
  min-height: 1;
}

/* Form Fixes
   - Makes placeholders have correct padding
   */
.form-control::placeholder {
    font-size: 18px;
    padding: 2px 0;
}

/* Copyright Line */
.copyright {
    background: #2d2d2d;
    padding: 10px 0;
    color: #ccc;
}

.copyright span {
  font-size: 14px;
  margin: 0 15px;
}

.copyright span sup {
    font-size: 55%;
}
